.dropdown {
    background-color: antiquewhite;
    height: 500px;
}
.dropdown-options-list {
    height: 15rem;
    width: 6rem;
    background-color: orange;
    color: black;
}

.navbar-menu-parent {
    background-color: aqua;
}